body{
    background: rgb(177, 173, 173);
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
    text-align: center;
    font-tra
}

.photo{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    border: 1px solid red;
    margin: 0.8%;
}

#title, .subtitle, .post_title{
    color: rgb(45, 45, 46);
}

.title{
    font-size: 40px;
    text-transform: uppercase;
}

.a{
    text-decoration: line-through;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
    text-align-last: center;
    text-transform: capitalize;
}

.post{
    background: aliceblue;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
}

.post_img{
    margin-bottom: 15px;
    width: 100%;
}

.contact_list{
    padding: 0%;
}